<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="checkIn">Chekin Date :</label>
    <input type="date" formControlName = "checkInDate">
  </div>
  <div>
    <label for="checkout">ChekOut Date :</label>
    <input type="date" formControlName="chekOutDate">
  </div>
  <div>
    <label for="guestName">Guest Name :</label>
    <input type="text" formControlName="guestName">
  </div>
  <div>
    <label for="guestEmail">Guest Email :</label>
    <input type="email" formControlName="guestEmail">
  </div>
  <div>
    <label for="roomNumber">Room Number :</label>
    <input type="number" formControlName="roomNumber">
  </div>
  
  <button type="submit" >Submit</button>
</form>